# Core ML and Data Science
tensorflow
numpy
pandas
matplotlib
scikit-learn
seaborn
scipy

# Image Processing
opencv-python

# Notebook execution
jupyter
notebook
nbconvert
ipykernel

# Presentation and Visualization
python-pptx
